<header>
    <nav>
        <ul>
            <li class="<%= path==='/' ? 'active' : '' %>"><a href="/" >Shopee</a></li>
            <li class="<%= path==='/cart' ? 'active' : '' %>"><a href="/cart" >Cart</a></li>
            <li class="<%= path==='/products' ? 'active' : '' %>"><a href="/products" >Products</a></li>
            <li class="<%= path==='/checkout' ? 'active' : '' %>"><a href="/checkout" >Checkout</a></li>

            <li class="<%= path==='/add-product' ? 'active' : '' %>"><a href="/add-product">Add Product</a></li>
            <li class="<%= path==='/admin-products' ? 'active' : '' %>"><a href="/admin-products">Admin Products</a></li>

        </ul>
    </nav>
</header>